.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.th,
.td {
  width: 25%;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.win {
  color: green;
  font-weight: bold;
}

.loss {
  color: red;
  font-weight: bold;
}

.row:hover {
  background-color: grey;
  cursor: pointer;
}
