.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

.image {
  margin-top: 60%;
  position: relative;
  animation-duration: 5s;
  animation-name: fade-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.pageContent {
  text-align: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  animation-name: fade-in;
  animation-delay: 5s;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.tableContainer {
  margin-top: 50px;
  overflow-y: auto;
  text-align: left;
  border: 1px solid #1d75ab;
  box-shadow: 0 0 10px 5px #48abe0;
  padding: 20px;
}

.table {
  width: 100%;
  font-size: 16px;
  height: 500px;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}
